@import 'custom.scss';
@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';

body {
    font-family: 'Raleway', sans-serif;
}

.filter {
    cursor: pointer;
    transition: .5s;
  }
.filter:hover {
background-color: #f8f8f8;
// color: white !important;
text-decoration: none;
}
.active-filter {
background-color: orange;
color: white !important;
}
.filter-container {
    margin: 3% 10%;
}

@media (max-width: 768px){
    p {
        font-size: 0.8em !important;
    }
    .btn {
        font-size: 0.8em !important;
    }
    h1 {
        font-size: 2.2rem !important;
    }
    h2 {
        font-size: 1.5rem !important;
    }
    h4 {
        font-size: 1rem !important;
    }
    .filter {
        padding: 5px !important;
    }
    .filter-container {
        margin: 10%;
    }
}
