@import 'custom.scss';
@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';

body {
    font-family: 'Raleway', sans-serif;
}


@media (max-width: 768px){
    p {
        font-size: 0.8em !important;
    }
    .btn {
        font-size: 0.8em !important;
    }
    h1 {
        font-size: 2.2rem !important;
    }
    h2 {
        font-size: 1.5rem !important;
    }
    h4 {
        font-size: 1rem !important;
    }
}
